h2 {
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
    font-style: italic;
    padding-right: 50px;
    color: darkblue;
}

.indent {
    text-indent: 50px;
}

.company {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
}