<div class="company">
    <h2>Company: </h2>
    <div>
        <p><b>{{company?.name.toUpperCase()}}</b></p>
        <p>Department of {{company?.department}}</p>
        <p><b>Title:</b> {{company?.title.toUpperCase()}}</p>
        <p><b>Address:</b><p>
        <p class="indent">{{company?.address?.address}}</p>
        <p class="indent">{{company?.address?.city}}, {{company?.address?.state}} ({{company?.address?.stateCode}})
            {{company?.address?.postalCode}}</p>
        <p class="indent">{{company?.address?.country}}</p>
    </div>
</div>