<h2>Company</h2>
<section>
    <p>{{company?.name}}</p>
    <p>Department of {{company?.department}}</p>
    <p>Title: {{company?.title}}</p>
    <p>Address:</p>
    <div>
        <p class="indent">Street Address: {{company?.address?.address}}</p>
        <p class="indent">City: {{company?.address?.city}}</p>
        <p class="indent">State: {{company?.address?.state}} ({{company?.address?.stateCode}})</p>
        <p class="indent">Postal Code: {{company?.address?.postalCode}}</p>
        <p class="indent">Country: {{company?.address?.country}}</p>
    </div>
</section>
