<main>
    <div id="navigation">
        <div class="go-back">
            <mat-icon class="info" fontIcon="info" [routerLink]="['/agent', currentAgent.id]"></mat-icon>
        </div>
        <p>{{currentAgent.firstName}} {{currentAgent.lastName}}</p>
    </div>
    <div id="agent">
        <div class="agent-button" (click)="previous()">
            <mat-icon class="nav" fontIcon="arrow_back_ios" *ngIf="index!==0"></mat-icon>
        </div>
        <img [src]="currentAgent.image">
        <div class="agent-button"  (click)="next()">
            <mat-icon class="nav" fontIcon="arrow_forward_ios" *ngIf="index!==maxIndex"></mat-icon>
        </div>
    </div>
</main>