img {
    height: 50px;
    width: auto;
    padding-right: 20px;
}

.name-header {
    display: flex;
    justify-content: center;
    background-color: aliceblue;
}

h1 {
    font-size: 50px;
    padding-right: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    font-size: 20px;
    text-align: center;
}

.indent {
    text-indent: 50px;
}

.card-content {
    display: flex;
    justify-content: center;
}

.content {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
}

button {
    margin: 10px 50px;
}

button.active {
    background-color: yellow;
}

.nav-buttons {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
}

.go-back {
    background-color: lightgreen;
}

.information {
    display: flex;
    background-color: antiquewhite;
}

.bio {
    font-size: 20px;
}

.router {
    margin-left: 20%;
    margin-top: 2%;
}