<mat-card appearance="outlined">
    <mat-card-header class="name-header">
        <h1>{{agent?.firstName}} {{agent?.lastName}}</h1>
        <img [src]="agent?.image">
    </mat-card-header>
    <mat-card-content class="card-content">
        <div class="content bio">
            <p>{{agent?.firstName}} is a {{agent?.age}} year old {{agent?.gender?.toUpperCase()}}.</p>
            <p>{{agent?.gender==='male'?'His':'Her'}} role is: {{agent?.role?.toUpperCase()}}.</p>
        </div>
        <div class="content">
            <p *ngIf="agent?.maidenName!==''"><b>Maiden Name:</b> {{agent?.maidenName}}</p>
            <p><b>Email:</b> {{agent?.email}}</p>
            <p><b>Phone number:</b> {{agent?.phone}}</p>
            <p><b>Code Name:</b> {{agent?.username?.toUpperCase()}}</p>
            <p><b>BirthDate:</b> {{agent?.birthDate}}</p>
        </div>
        <div class="content">
            <p><b>Height:</b> {{agent?.height}} cm</p>
            <p><b>Weight:</b> {{agent?.weight}} kg</p>
            <p><b>Eye Color: </b> <span [style.color]="agent?.eyeColor">{{agent?.eyeColor}}</span></p>
            <p>
                <b>Hair: </b> <span [style.color]="agent?.hair?.color!=='White' ? agent?.hair?.color : 'black'">{{agent?.hair?.color}}</span> and {{agent?.hair?.type}}
            </p>
        </div>
        <div class="content">
            <p><b>Blood Type:</b> {{agent?.bloodGroup}}</p>
            <p><b>Education:</b> {{agent?.university}}</p>
            <p><b>EIN:</b> {{agent?.ein}}</p>
            <p><b>SSN:</b> {{agent?.ssn}}</p>
        </div>
    </mat-card-content>
    <div class="information">
        <div class="nav-buttons">
            <button mat-raised-button (click)="goToAddress()">Address</button>
            <button mat-raised-button (click)="goToBankCard()">Bank Card</button>
            <button mat-raised-button (click)="goToCompany()">Company</button>
            <button mat-raised-button (click)="goToCrypto()">Cryptocurrency</button>
            <button mat-raised-button class = "go-back" (click)="backToAgentList()">
                <mat-icon>arrow_back</mat-icon>
                Agent List
            </button>
        </div>
        <router-outlet></router-outlet>
    </div>
</mat-card>