img {
    height: 50px;
    width: auto;
    padding-right: 20px;
}

.name-header {
    display: flex;
    justify-content: left;
    background-color: aliceblue;
}

h1 {
    font-size: 30px;
    padding-right: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    font-size: 20px;
    text-align: center;
}

.indent {
    text-indent: 50px;
}

.card-content {
    display: flex;
    justify-content: center;
}

.content {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
}

button {
    height: 30px;
    width: 100px;
    margin: 10px 50px;
    border-radius: 0.75em;
    background-color: beige;
}

.nav-buttons {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
}

.go-back {
    background-color: green;
    height: 40px;
    border-radius: 1em;
}

.information {
    display: flex;
    background-color: antiquewhite;
}

router-outlet {
    margin-left: 50px;
}