<mat-card appearance="outlined">
    <mat-card-header class="name-header">
        <div>
            <h1>{{agent?.firstName}} {{agent?.lastName}}</h1>
            <p>Role: {{agent?.role}} </p>
            <p>Age: {{agent?.age}}</p>
            <p>Gender: {{agent?.gender}}</p>
        </div>
        <img [src]="agent?.image">
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="card-content">
        <div class="content">
            <p *ngIf="agent?.maidenName!==''">Maiden Name: {{agent?.maidenName}}</p>
            <p>Email: {{agent?.email}}</p>
            <p>Phone number: {{agent?.phone}}</p>
            <p>Code Name: {{agent?.username}}</p>
            <p>BirthDate: {{agent?.birthDate}}</p>
        </div>
        <div class="content">
            <p>Blood Type: {{agent?.bloodGroup}}</p>
            <p>Height: {{agent?.height}} cm</p>
            <p>Weight: {{agent?.weight}} kg</p>
            <p>Eye Color: {{agent?.eyeColor}}</p>
            <p>Hair: {{agent?.hair?.color}} and {{agent?.hair?.type}}</p>
        </div>
        <div class="content">
            <p>Education: {{agent?.university}}</p>
            <p>EIN: {{agent?.ein}}</p>
            <p>SSN: {{agent?.ssn}}</p>
        </div>
    </mat-card-content>
    <div>
        <button mat-button (click)="goToAddress()">Address</button>
        <button mat-button (click)="goToBankCard()">Bank Card</button>
        <button mat-button (click)="goToCompany()">Company</button>
        <button mat-button (click)="goToCrypto()">Cryptocurrency</button>
    </div>
    <mat-divider></mat-divider>
    <router-outlet></router-outlet>
</mat-card>
<button (click)="backToAgentList()">Back to List</button>